:root {
    --clr-bg-1: #f0f0f0; /* main background color */
    --clr-bg-2: #e0e0e0;
    --clr-bg-3: #ccc;
    --clr-bg-joy: radial-gradient(circle, var(--clr-bg-1), var(--clr-bg-3)); /* joystick background color */
    --clr-bg-cont: linear-gradient(135deg, var(--clr-bg-1), var(--clr-bg-2)); /* container background color */
    --clr-btn: #28a745; /* button color */

    --clr-success: #28a745; /* success color eg.: connected  */
    --clr-failed: #dc3545; /* fail color eg.: disconnected */

    --clr-brd-joy: 1px solid #bbb;

    /*TODO: refactor color and other important properties to use vareiable, create dark theme*/
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    margin: 2px;
    padding: 5px;
    background-color: var(--clr-bg-1);
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Increased gap for better spacing */
    padding: 0px 15px 0px 15px; /* Add padding for inner spacing */
    background: var(--clr-bg-cont); /* Gradient background */
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 10px auto; /* Center the container with margin */
    max-width: 95%; /* Responsive width */
}

.joystick-container {
    position: relative;
    width: 250px;
    height: 250px;
    background: var(--clr-bg-joy); /* Gradient background */
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    border: 1px solid var(--clr-brd-joy); /* Border for a more defined look */
    display: flex;
    justify-content: center;
    align-items: center;
}     

.joystick-container::before,
.joystick-container::after {
    content: '';
    position: absolute;
    background-color: #cfcfcf; /* Line color */
}

.joystick-container::before {
    width: 1px; /* Line thickness */
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.joystick-container::after {
    width: 100%;
    height: 1px; /* Line thickness */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.joystick {
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, #007bff, #0056b3); /* Gradient background */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    touch-action: none;
    border: 2px solid #004080; /* Border for a more defined look */
    z-index: 1;
}

.joystick::before {
    content: '';
    position: absolute;
    width: 10px; /* Size of the red dot */
    height: 10px; /* Size of the red dot */
    background-color: rgb(121, 25, 25);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for the dot */
}

.sliders {
    display: flex;
    flex-direction: column; /* Align sliders vertically */
    justify-content: center;
    align-items: center;
    padding: 10px; /* Add padding to all sides */
    gap: 10px; /* Add space between sliders */
}
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 300px; /* Full width */
    height: 15px; /* Height of the slider */
    background: linear-gradient(to right, green, red); /* Gradient background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency */
    transition: opacity .2s; /* Transition effect */
    border-radius: 10px; /* Rounded edges */
    /* transform: rotate(-90deg); Rotate the slider */
}
.slider:hover {
    opacity: 1; /* Fully opaque on hover */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 25px; /* Width of the thumb */
    height: 25px; /* Height of the thumb */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded edges */
}
.slider::-moz-range-thumb {
    width: 25px; /* Width of the thumb */
    height: 30px; /* Height of the thumb */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded edges */
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 330px;
    flex-wrap: wrap;
}

.button {
    width: 70px;
    height: 60px;
    background-color: var(--clr-btn);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    user-select: none; /* Prevent text selection */
}

.button.switch-on {
    background-color: #ff0707;
}

.button.push-active {
    background-color: #0056b3;
    user-select: none; /* Prevent text selection */
}
.common-label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 1px;
    color: #333;
}

.toggle-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #007bff; /* Change the color of the checkbox */
}
.check-button-container {
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    gap: 5px;
}
.status-label {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.status-connected {
    background-color: var(--clr-success); /* Green background for connected */
}

.status-disconnected {
    background-color: var(--clr-failed); /* Red background for disconnected */
}

details {
    width: 100%;
    padding: 0.5rem;
}

details summary {
    width: fit-content;
    padding: 0.8rem;
    border-radius: 1rem;
    border: 2px solid #ccc;
}