:root {
    --clr-text-on-dark-bg: white;

    --clr-bg-1: #f0f0f0; /* main background color */
    --clr-bg-2: #e0e0e0;
    --clr-bg-3: #ccc;
    --clr-bg-joy: radial-gradient(circle, var(--clr-bg-1), var(--clr-bg-3)); /* joystick background color */
    --clr-bg-cont: linear-gradient(135deg, var(--clr-bg-1), var(--clr-bg-2)); /* container background color */

    --clr-btn: #28a745; /* button color */

    --clr-success: #28a745; /* success color eg.: connected  */
    --clr-failed: #dc3545; /* fail color eg.: disconnected */

    --clr-brd-joy: 1px solid #bbb;

    /*TODO: refactor color and other important properties to use vareiable, create dark theme*/
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 0;
    padding: 0;
    background-color: var(--clr-bg-1);
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Increased gap for better spacing */
    padding: 0px 0.5rem 0px 0.5rem; /* Add padding for inner spacing */
    background: var(--clr-bg-cont); /* Gradient background */
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 1rem; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 100%;
}


/*Media querry on tablet and desktop */
@media (min-width: 768px) {
    .container {
        width: 400px;
        margin: 1rem;
    }
}

.joystick-container {
    position: relative;
    width: 70%;
    aspect-ratio: 1/1;
    background: var(--clr-bg-joy); /* Gradient background */
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    border: 1px solid var(--clr-brd-joy); /* Border for a more defined look */
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none; /* Prevent pull-to-refresh and other touch gestures */
    overscroll-behavior: contain; /* Prevent overscroll behavior */
}     

.joystick-container::before,
.joystick-container::after {
    content: '';
    position: absolute;
    background-color: #cfcfcf; /* Line color */
}

.joystick-container::before {
    width: 1px; /* Line thickness */
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.joystick-container::after {
    width: 100%;
    height: 1px; /* Line thickness */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.joystick {
    position: absolute;
    width: 70px;
    height: 70px;
    background: radial-gradient(circle, #007bff, #0056b3); /* Gradient background */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    touch-action: none;
    border: 2px solid #004080; /* Border for a more defined look */
    z-index: 1;
}

.sliders {
    width: 100%;
    display: flex;
    flex-direction: column; /* Align sliders vertically */
    justify-content: center;
    align-items: center;
    padding: 10px; /* Add padding to all sides */
    gap: 10px; /* Add space between sliders */
}
.slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full width */
    height: 15px; /* Height of the slider */
    background: linear-gradient(to right, green, red); /* Gradient background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency */
    transition: opacity .2s; /* Transition effect */
    border-radius: 10px; /* Rounded edges */
    /* transform: rotate(-90deg); Rotate the slider */
}
.slider:hover {
    opacity: 1; /* Fully opaque on hover */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 25px; /* Width of the thumb */
    height: 25px; /* Height of the thumb */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded edges */
}
.slider::-moz-range-thumb {
    width: 25px; /* Width of the thumb */
    height: 30px; /* Height of the thumb */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded edges */
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.button {
    height: 60px;
    width: 20%;
    background-color: var(--clr-btn);
    border: none;
    color: var(--clr-text-on-dark-bg);
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    user-select: none; /* Prevent text selection */
}

.button.switch-on {
    background-color: #ff0707;
}

.button.push-active {
    background-color: #0056b3;
    user-select: none; /* Prevent text selection */
}
.common-label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 1px;
    color: #333;
}

.toggle-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #007bff; /* Change the color of the checkbox */
}
.check-button-container {
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    gap: 5px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 1rem;
}

.menu-toggle {
    line-height: normal;
    font-size: 2rem;
    color: gray;
    padding: 0.5rem;
}

.status-label {
    font-size: 1rem;
    font-weight: bold;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 0 0 0.5rem 0.5rem;
    color: var(--clr-text-on-dark-bg);
}

.status-connected {
    background-color: var(--clr-success); /* Green background for connected */
}

.status-disconnected {
    background-color: var(--clr-failed); /* Red background for disconnected */
}

details {
    width: 100%;
    padding: 0.5rem;
}

details summary {
    width: fit-content;
    padding: 0.8rem;
    border-radius: 1rem;
    border: 2px solid #ccc;
}


/*------------------------------------------------------------------------------------------------------*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    color: var(--clr-text-on-dark-bg);
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto; /* Enable vertical scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    padding: 1rem;
}
  
/* Position the close button (top right corner) */
.overlay .closebtn {
    color: #818181;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}